accelerate==0.34.2
beartype==0.18.5
einops==0.8.0
einx==0.3.0
ema-pytorch==0.6.2
g2p-en==2.1.0
jaxtyping==0.2.34
loguru==0.7.2
tensorboard==2.18.0
torch==2.4.1
torchaudio==2.4.1
torchdiffeq==0.2.4
torchlibrosa==0.1.0
torchmetrics==1.6.1
torchvision==0.19.1
numpy==1.23.5
tqdm==4.66.5
vocos==0.1.0
x-transformers==1.37.4
transformers==4.46.0
moviepy==1.0.3
jieba==0.42.1
pypinyin==0.44.0
progressbar==2.5
datasets==3.0.1
matplotlib==3.9.2